<h1>Dashboard#index</h1>



<h5>Login History</h5>
<table class="table">
<thead>

<tr>
  <th>Access Type</th>
  <th>location</th>
  <th>Date/Time</th>
  <th>Outcome</th>
</tr>
</thead>
<tbody>
  <% @payload[:login_history].each do |history|%>
    <tr>
      <td><%= history.user_agent %></td>
      <td><%= history.city %></td>
      <td><%= history.created_at.strftime("%Y/%m/%d") %></td>
      <td>
      <% if history.success%>
        Success
      <% else %>
        <%= history.failure_reason%>
      <% end %>
      </td>
    </tr>
  <% end %>
</tbody>
</table>
