version: "3"
services:
  app:
    build:
      context: .
      dockerfile: .devcontainer/Dockerfile

    volumes:
      - .:/workspace:cached
    env_file:
      - ".env"
    network_mode: service:redis
    command: sleep infinity
    environment:
      BUNDLE_PATH: vendor/bundle

  redis:
    env_file:
      - ".env"
    image: "redis:6.0.10-buster"
    restart: "unless-stopped"
    stop_grace_period: "3s"
    volumes:
      - "redis:/data"
  db:
    image: postgres
    restart: unless-stopped
    volumes:
      - postgres:/var/lib/postgresql/data
    ports:
      - 5432:5432
    env_file:
      - ".env"

volumes:
  redis: {}
  postgres: {}
